section {
    font-family: Arial, Helvetica, sans-serif;

}

#layout {
    width: 100%;
    padding: 80px;
    border-radius: 8px;
    /* background-color: #eee;  */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}
.fa-regular.fa-thumbs-up.fa-2x{
    padding-left: 60rem;
}

#layout-grid {
    display: flex !important;
    flex-direction: row !important;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}
h1{
    background-image: linear-gradient(115deg,purple,blue);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 48px;
}
img {
    width: 100%;
    border-radius: 6px;
    margin: 16px 0px;
}
p{
    letter-spacing: 0.1em;
    word-spacing: 0.4em;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
p::first-letter{
    font-size: 48px;
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {

    /*Tablets [601px -> 1200px]*/


}

@media only screen and (max-width: 600px) {

    /*Big smartphones [426px -> 600px]*/
    /* #layout {
        width: 400px;
    }

    img {
        width: 400px;
    } */

}

@media only screen and (max-width: 425px) {

    /*Small smartphones [325px -> 425px]*/
    /* #layout {
        width: 300px;
    }

    img {
        width: 300px;
    } */
    #layout{
        padding: 16px;
        width: 95%;
    }
}