<section>
    <div class="container">
            <div class="row">
                <div class="col-lg-12" id="layout-grid">
                    <div id="layout">
                        <h1 style="font-weight: 900;">{{layoutData[currentId-1]?.postTitle}}</h1>
                        <hr>
                        <div>
                            <img style="width: 50px;height: 50px; border-radius: 50%;" src="{{layoutData[currentId-1]?.authorProfilePic}}" alt="">
                            <h5 style="font-weight: bold;">{{layoutData[currentId-1]?.authorName}}</h5>
                            <small>{{layoutData[currentId-1]?.publishedDate}}</small>
                        </div>
                        <img src="{{layoutData[currentId-1]?.postImageUrl}}" alt="">
                        <p>{{layoutData[currentId-1]?.postDescription}}</p>
                        <p>{{layoutData[currentId-1]?.postDescription}}</p>
                    </div>
                </div>
            </div>
    </div>
</section>
